<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createPlato">Create new Plato</label>
                <label ng-if="edit" id="editPlato">Edit Plato</label></div>
            <div class="panel-body">
                <form ng-submit="createPlato()" name="plato">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="platoName" class="col-sm-2">Nombre:</label>
                            <input id="platoName" required ng-model="platoName" class="col-sm-6"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="platoEspecialSucursal" class="col-sm-2">Especial de Sucursal:</label>
                            <input id="platoEspecialSucursal" required ng-model = "platoEspecialSucursal" class="col-sm-6"/> 
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="platoPrecio" class="col-sm-2">Precio:</label>
                            <input type="number" id="platoPrecio" required ng-model = "platoPrecio" class="col-sm-6"/> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!plato.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="plato.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="platosList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
