<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createrestaurante">Create new restaurante</label>
                <label ng-if="edit" id="editrestaurante">Edit restaurante</label></div>
            <div class="panel-body">
                <form ng-submit="createrestaurante()" direccion="restaurante">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="restaurantedireccion" class="col-sm-2">direccion:</label>
                            <input id="restaurantedireccion" required ng-model="restaurantedireccion" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="restauranteDosPisos" class="col-sm-2">Dos Pisos:</label>
                            <input type="boolean" id="restauranteDosPisos"  required ng-model="restauranteDosPisos" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="restauranteCalificacion" class="col-sm-2">Calificacion:</label>
                            <textarea id="restauranteCalificacion" required ng-model="restauranteCalificacion" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!restaurante.$valid">
                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="restaurante.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="restaurantesList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



