<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="panel-group">
        <div style = "background-color: #6E6A69;" class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createdomicilio">Create new domicilio</label>
                <label ng-if="edit" id="editdomicilio">Edit domicilio</label></div>
            <div class="panel-body">
                <!--Columnas para la creacion del domicilio-->
                <form ng-submit="createdomicilio()">
                    <div class="form-group row">
                        <!--rango-->
                        <div class="form-group col-md-12">
                            <label for="rango" class="col-sm-2">Rango</label>
                            <input id="rango" required ng-model="rango" class="col-sm-6"/><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--direccion-->
                        <div class="form-group col-md-12">
                            <label for="direccion" class="col-sm-2">Direccion</label>
                            <input id="direccion" required ng-model="direccion" class="col-sm-6"/><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--nombre del cliente-->
                        <div class="form-group col-md-12">
                            <label for="nombre" class="col-sm-2">Nombre de la persona</label>
                            <input id="nombre" required ng-model="nombre" class="col-sm-6"/><br>
                        </div>
                    </div>
                    <div class="form-group row">
                            <!--platos pedidos-->
                            <div class="form-group col-md-12">
                            <label for="platos" class="col-sm-2">Platos</label>
                            
                            <div class="form-group col-md-12">
                            <label for="plato1" class="col-sm-2">Plato1:</label>
                            
                            <select name="plato1" id="plato1" required ng-model="plato1">
                                 <option ng-repeat="plato in platosRecords" value ="{{plato.id}}"> {{plato.name}}</option>
                            </select><br>
                        </div>
                            <div class="form-group col-md-12">
                            <label for="plato2" class="col-sm-2">Plato2:</label>
                            <select name="plato2" id="plato2" ng-model="plato2">
                                 <option ng-repeat="plato in platosRecords" value ="{{plato.id}}"> {{plato.name}}</option>
                            </select><br>
                        </div>
                            <div class="form-group col-md-12">
                            <label for="plato3" class="col-sm-2">Plato3:</label>
                            <select name="plato3" id="plato3" ng-model="plato3">
                                 <option ng-repeat="plato in platosRecords" value ="{{plato.id}}"> {{plato.name}}</option>
                            </select><br>
                        </div>
                            <div class="form-group col-md-12">
                            <label for="plato4" class="col-sm-2">Plato4:</label>
                            <select name="plato4" id="plato4" ng-model="plato4">
                                 <option ng-repeat="plato in platosRecords" value ="{{plato.id}}"> {{plato.name}}</option>
                            </select><br>
                        </div>
                            <div class="form-group col-md-12">
                            <label for="plato5" class="col-sm-2">Plato5:</label>
                            <select name="plato5" id="plato5" ng-model="plato5">
                                 <option ng-repeat="plato in platosRecords" value ="{{plato.id}}"> {{plato.name}}</option>
                            </select><br>
                        </div>
                        </div>
                        </div>
                    <div class="form-group row">
                        <!--sucursal a la que se pidio-->
                            <div class="form-group col-md-12">
                            <label for="dirSuc" class="col-sm-2">Sucursal de la que se quiere pedir</label>
                            <select name="dirSuc" id="dirSuc" required ng-model="dirSuc">
                                 <option ng-repeat="sucursal in sucursalesRecords"  value ="{{sucursal.id}}"> {{sucursal.direccion}}</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--botones de acciones para crear un domicilio-->
                        <div class="form-group col-sm-12">
                            <!--crear-->
                            <input type="submit" value="Save" class="btn btn-success" ng-click="createDomicilio()"/>
                            <!--cancelar-->
                            <a class="btn btn-info" ui-sref="domiciliosList">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



