<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--Vista para eliminar a un cliente-->
<div style = "background-color: #6E6A69;" class="center-block well text-center">
    <h1>¿Esta seguro que desea borrar el cliente?</h1>
    <button id="confirm-delete" ng-click="deleteCliente()" class="btn btn-danger">Borrar</button>
    <a id="cancel-delete" ui-sref="clientesList" class="btn btn-info">Cancel</a>
</div>
<div class="container" ng-if="isAuthenticated() && !hasPermissions()">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="float-left display-3 mr-4">403 Forbidden</h1>
                <h4 >You do not have permission for this action.</h4>
                <p >Contact the administrator to obtain permission.</p>
            </div>
        </div>
    </div>
