<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
<!--    <div ng-if="isAuthenticated() && hasPermissions()" class="panel-group">-->
    <!--<div class="panel-group">-->
        <div style = "background-color: #6E6A69;" class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createCliente">Create new Cliente</label>
                <label ng-if="edit" id="editCliente">Edit Cliente</label></div>
            <div class="panel-body">
                <!--Columnas para la creacion del cliente-->
                <form ng-submit="createCliente()" name="cliente">
                    <div class="form-group row">
                        <!--Espacio de texto para el nombre-->
                        <div class="form-group col-md-6">
                            <label for="clienteName" class="col-sm-2">Nombre:</label>
                            <input id="clienteName" required ng-model="clienteNombre" class="col-sm-6"/><br>
                        </div>
                    </div>
                    <div class="form-group row">
                          <!--Espacio de texto para el apellido-->
                        <div class="form-group col-md-6">
                            <label for="clienteApellido" class="col-sm-2">Apellido:</label>
                            <input id="clienteApellido" required ng-model="clienteApellido" class="col-sm-6"/><br>
                        </div>
                    </div>
                        
<!--                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="clienteDireccion" class="col-sm-2">Direccion:</label>
                            <input id="clienteDireccion" required ng-model="clienteDireccion" class="col-sm-6"/><br>
                        </div>
                    </div>-->
                    <div class="form-group row">
                          <!--Espacio de texto para el numero de puntos-->
                        <div class="form-group col-md-6">
                            <label for="clienteNumPuntos" class="col-sm-2">NumPuntos:</label>
                            <input id="clienteNumPuntos" required ng-model="clienteNumPuntos" class="col-sm-6"/><br>
                        </div>
                    </div>
<!--                    <div ng-if="edit" class="panel-group" id="thePedidos">
                        <div class="panel panel-info">
                            <div class="panel-heading">Associated pedidos</div>
                            <div class="panel-body">
                                <div id="div2" ondrop="angular.element(document.getElementById('thePedidos')).scope().dropAdd(event)" ondragover="angular.element(document.getElementById('thePedidos')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-show="edit" ng-repeat="pedido in allPedidosCliente">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('thePedidos')).scope().drag(event)" id="{{pedido.id}}">{{pedido.name}}</p>                                 
                                    </div>
                                </div>
                            </div>
                        </div>-->
<!--                        <div class="panel panel-success">
                            <div class="panel-heading">All pedidos</div>
                            <div class="panel-body">
                                <div id="div1" ondrop="angular.element(document.getElementById('thePedidos')).scope().dropDelete(event)" ondragover="angular.element(document.getElementById('thePedidos')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-repeat="pedido in allPedidosShow">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('thePedidos')).scope().drag(event)" id="{{pedido.id}}">{{pedido.name}}</p>                
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    
                    <!--Verificamos que todos los campos de texto han sido llenados correctamente-->
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!cliente.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <!--Botones para la creacion del cliente-->
                        <div class="form-group col-sm-12">
                            <!--Crear-->
                            <input ng-show="cliente.$valid" type="submit" value="Save" class="btn btn-success" ng-click="createCliente()"/>
                            <!--Cancelar-->
                            <a class="btn btn-info" ui-sref="clientesList">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
<!--    <div class="center-block well text-center" ng-if="isAuthenticated() && !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">403 Acceso no permitido</h1>
                    <h4 >No tienes permiso para Realizar esta accion, por favor contacto al administrados si tienes dudas.</h4>
                </div>
            </div>
        </div>
    </div>-->
    
