body {
		background-image: url("https://image.ibb.co/fkK7YR/p.jpg")
	}
        h1 {
		color: #A10202;
                font-family: 'Allura';font-size: 60px;
	}   
        p {
            color: #F6F6F6;
            font-family: 'Amethysta';font-size: 16px;
        }
        span {
            color: #F6F6F6;
            font-family: 'Amethysta';font-size: 14px;
        }
        li{
            background-color: #6E6A69;
        }
        dl{
          color: #F6F6F6;
            background-color: #6E6A69;  
        }
        a{
            color: #F6F6F6;
        }
        tr{
            background-color: #6E6A69; 
        }
        td{
            color: #E5C9C9;
            background-color: #6E6A69; 
        }
        th{
            color: #F6F6F6;
        }
        table{
            background-color: #6E6A69; 
        }
        label {
            color: #F6F6F6;
        }
        
