<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>                      
                    <th>Apellido</th>
                    <th>Direccion</th>
                    <th>Numero de puntos</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clientes in clientesRecords">
                    <td id="{{$index}}-name">{{cliente.name}}</td> 
                    <td id="{{$index}}-lastname">{{cliente.apelldio}}</td>
                    <td id="{{$index}}-address">{{cliente.direccion}}</td>
                    <td id="{{$index}}-numPuntos">{{cliente.numPuntos}}</td>
                    <td id="{{$index}}-numPuntos"><a ui-sref="tarjetaPuntosDetail({TarjetaPuntosId:tarjetaPuntos.id})">{{cliente.numPuntos}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->
<div class="container-fluid">
    
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Clientes list</label></div>
            <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>  
                    <th>Apellido</th>
                    <th>Direccion</th>
                    <th>numPuntos</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in clientesRecords">
                    <td id="{{$index}}-Nombre">{{cliente.nombre}}
<!--                        <a ui-sref="clientesDetail({clienteId: cliente.id})" class="thumb">{{cliente.nombre}}</a>-->
                    </td> 
                    <td id="{{$index}}-Apellido">{{cliente.apellido}}</td>
                    <td id="{{$index}}-Direccion">{{cliente.direccion}}</td>
                    <td id="{{$index}}-NumPuntos">{{cliente.numPuntos}}</td>
                    <td id="{{$index}}-actions">
                        <a class="btn btn-default btn-sm" ui-sref="clienteUpdate({clienteId: cliente.id})"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger btn-sm" ui-sref="clienteDelete({clienteId: cliente.id})"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                          
                </tr>
            </tbody>
        </table>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-info" ui-sref="clienteCreate"><span class="glyphicon glyphicon-plus-sign"></span> Add new cliente</a>
        </div>
    </div>
    </div>
    </div>
</div>


